*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
$color1:#000;
$color2:#fff;

body{
    background: $color2;
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-corner{
      width: 2px;
  }
  ::-webkit-scrollbar-track {
    background: none;
    outline: none;
    border: none;
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
    width: 2px;
  }
.container{
    width: 100vw;
    min-height: 100vh;
    .menu-bar{
        position: fixed;
        top: 0;
        width: 100%;
        background: $color1;
        height: 50px;
        color: $color2;
        padding: 1px 0;
        text-align: center;
        z-index: 4;
        li{
            display: inline-block;
        }
        .has-children{
            position: relative;
            &:hover{
                .children{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .children{
            width: 100px;
            background: $color2;
            position: absolute;
            padding: 5px 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity .4s ease;
            button{
                width: 100%;
            }
            li{
                border-bottom:1px solid $color1 ;
                margin: 2px 0;
                width: 100%;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        button{
            outline: none;
            padding: 0 5px;
            height: 48px;
            background: $color2;
            color: $color1;
            text-decoration: none;
            text-transform: uppercase;
            font-size: small;
            font-weight: 600;
            border-right: 2px solid $color1;
            border: none;
            .arrow {
                border: solid $color1;
                margin-left: 10px;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
              }
            &:last-child{
                border-right: none;
            }
            &:hover{
                background: $color1;
                color: $color2;
                box-shadow: 0 0 10px rgb(21, 21, 248);
                .arrow{
                    border-color: $color2;
                }
            }
        }
    }
    
    .bars-container{
        position: fixed;
        left: 50px;
        bottom: 0px;
        width: calc(100vw - 100px);
        height: calc(100vh - 60px);
        background: $color1;
        padding: 0 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow-X: scroll;
        @media screen and (max-width: 623px){
            left: 0px;
            width: 100vw;
        }
        .bars{
            display: inline-block;
            list-style-type: none;
            width: 10px;
            min-width: 1px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            z-index: 2;
            margin-right: 10px;
        }        
    }
}